body{
	width: 100%;
	max-width: 1000px;
	background-color: white;
	margin:0 auto;
	height: auto;
}

@font-face{
	font-family: 'Russo One', sans-serif;
	font-family: 'Open Sans', sans-serif;
	src:url('https://fonts.googleapis.com/css?family=Russo+One');
	src:url('https://fonts.googleapis.com/css?family=Open+Sans');
}

#backgrounding{
	height: 80%;
}

nav{
	background-color: #FF0000;
}

ul{
	display: flex;
	text-decoration: none;
	margin-left: 30%;

}

li a {
	flex-direction: row;
	padding: 29%;
	width: 100%;
}

li{
	padding: 1%;
	font-weight: bolder;
	font-family: 'Russo One', sans-serif;
	font-size: 0.9em;
	margin-left: 5%;
	margin: 1%;
}

li a:hover {
    background-color: #FFC700;
    color: white;   
}

.active {
    background-color:#FFC700;
    color:white ;
    padding: 36%;
    margin: 2%;
    margin-right:10%;
  }

#warped101{
	padding:19%;
}

